<header>
  <h1>Currículo Web</h1>
</header>

<main class="main">
  <section class="profile-info">
    <img src="../assets/fotoPerfil.jpg" alt="Foto de Perfil" />
    <h2>Guilherme Abreu Vidal</h2>
    <span>Desenvolvedor Web Júnior</span>
  </section>

  <section class="personal-info">
    <h2>Informações Pessoais</h2>
    <p>
      Olá, meu nome é Guilherme Abreu Vidal. Tenho 19 anos. Sou estudante do 3º
      semestre do <strong>Curso Superior em Análise e Desenvolvimento na Fatec Dom
      Amaury Castanho</strong>, na cidade de Itu-SP. Além do ensino superior superior, possuo uma breve experiência na
      área, visto que concluí o <strong>Ensino Técnico de Desenvolvimento de Sistemas Integrado ao Ensino Médio na ETEC
      Martinho di Ciero</strong>, também localizada na cidade de Itu-SP.
    </p>
  </section>

  <section class="technology-experiences">
    <h2>Experiência nas Tecnologias</h2>

    <div class="technologies-box">
      <div class="technology-card">
        <img src="../assets/html.png" alt="Icone HTML">
      </div>

      <div class="technology-card">
        <img src="../assets/css.png" alt="Icone CSS">
      </div>

      <div class="technology-card">
        <img src="../assets/javascript.png" alt="Icone Javascript">
      </div>

      <div class="technology-card">
        <img src="../assets/angular.png" alt="Icone Angular">
      </div>

      <div class="technology-card">
        <img src="../assets/c.png" alt="Icone C">
      </div>

      <div class="technology-card">
        <img src="../assets/cSharp.png" alt="Icone C#">
      </div>

      <div class="technology-card">
        <img src="../assets/php.png" alt="Icone PHP">
      </div>

      <div class="technology-card">
        <img src="../assets/mysql.png" alt="Icone MySQL">
      </div>
    </div>
  </section>
</main>

<footer>
  <h1>Contato</h1>

  <ul>
    <li>
      <a href="https://wa.me/qr/63GLRLAWAMDEM1">Telefone: +55 (11)94199-7986</a>
    </li>
    <li>
      <a href="mailto:guiiiividdgmail.com">Email Pessoal: guiiiividdgmail.com</a> 
    </li>
    <li>
      <a href="mailto:guilherme.vidal01fatec.sp.gov.br">Email Institucional: guilherme.vidal01fatec.sp.gov.br</a>
    </li>
    <li>
      <a href="https://github.com/guiiiividd">GitHub: guiiiividd</a>
    </li>
  </ul>
</footer>

<router-outlet></router-outlet>
